
@model IEnumerable<MobiWifiApp.Models.Person>
    
    <h2>Index</h2>
    <table></table>
    <div class="form-horizontal">
        
        <div class="form-group">
       asdasdsa
        </div>
        <div class="form-group">
            asdasdsasadas
        </div>
    </div>


    </div>