@model IEnumerable<MobiWifiApp.Models.CmxObservationsLite>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <title>Index</title>


    <script>

        $(document).ready(function () {
            $("#selects").change(function () {
                var element = "Home/"+$(this).val();

                $("#result").html(element);
               // alert(element);
                console.log(element);
                $("#forms").attr('action', element);
            })
        });

    </script>

</head>

<body>
   <form asp-controller="Home" asp-action="#" method="get" id="forms" style="margin-top:30px;">
       Month: <input type="number" name="month"> <br />
      Years : <input type="number" name="year"> <br />
       Select: <select id="selects">
                    <option>None</option>
                    <option value="CountPerson">Report By Months</option>
                   <option value="ReportByDay">Report By Day</option>
                   <option value="ReportByHourt">Report By Hours</option>

       </select><br/>
       <input type="submit" value="Search" />

    </form>
    <div id="result"></div>
</body>
</html>

