
@{
    ViewData["Title"] = "report";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model IEnumerable<MobiWifiApp.Models.Report>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script>
        $.ajax(
            {
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: window.location,
                success: function (data) {
                    alert("OK");

                   // alert(data);
                    TESTER = document.getElementById('tester');
                    Plotly.plot(TESTER, [{
                        type: 'bar',
                        x: data.map(i => i.hours),
                        y: data.map(i => i.count)
                    }]);



                },

                error: function () {
                    alert("Error loading data! Please try again.");
                }
            });
   // })

</script>

<div id="tester" style="width:800px;height:400px; margin-top:10%" ;></div>




